@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
	function clearProductTable() {
		$('#products').html('');
	}
	var DEFAULT_URL = "http://localhost:52460/";

	function DisplayProductInfos() {
		$.getJSON(DEFAULT_URL + "api/ProductInfos")
			.done(function (data) {
				$.each(data, function (key, item) {
					$("#products").append("<tr>" +
						"<td><a onclick ='DelectProduct(" + item.Id + ")' href='javascript:void(0);' class='btn btn-primary' role='button'> Delect </a></td>" +
						"<td><a onclick ='EditProduct(" + item.Id + ")' href='javascript:void(0);' class='btn btn-primary' role='button'> Edit </a></td>" +
						"<td><img src=" + item.ImageUri + " width='50' height='50' /></td>" +
						"<td>" + item.Name + "</td>" +
						"<td>" + item.Brand + "</td>" +
						"<td>" + item.Description + "</td>" +
						"<td>" + item.Price + "</td>" +
						"</tr>");
				});
			});
	}

	function DelectProduct(productId) {
		clearProductTable();

		$.ajax({
			url: DEFAULT_URL + "api/Products/" + productId,
			cache: false,
			type: 'DELETE',
			contentType: 'application/json; charset=utf-8',
			//data: json,
			success: function () { DisplayProductInfos(); }
		})
			.fail(
				function (xhr, textStatus, err) {
					$('#products').html('Error: ' + err);
				});
	}

	function EditProduct(productId) {
		window.location.href = DEFAULT_URL + "Product/Edit/" + productId;
	}
</script>

<h2>Product List</h2>
<table class="table">
	<thead><tr><td colspan="2">Control</td><td>Image</td><td>Name</td><td>Brand</td><td>Description</td><td>Price</td></tr></thead>
	<tbody id="products">
		<script>
			DisplayProductInfos();
		</script>
	</tbody>
</table>

<div>
	@Html.ActionLink("Create Product", "Create", new { }, new { @class = "btn btn-default" })
</div>